.commitopacity {
    position: absolute;
    width: 100%;
    height: 10000px;
    background: #7f7f7f;
    filter: alpha(opacity=50);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    top: 0px;
    z-index: 99999;
}